<h4>Modification des informations de l'employé</h4>
<!-- 
        public etat:string,
        public cat:number,
        public image:string,
        public hauteur:number,
        public largeur:number -->
<form [formGroup]="modifForm">
    <mat-form-field appearance="fill">
        <mat-label>Description: </mat-label>
        <input matInput formControlName="description" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Prix: </mat-label>
        <input matInput formControlName="prix" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Titre: </mat-label>
        <input matInput formControlName="titre" required>
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Date de creation: </mat-label>
        <input matInput [matDatepicker]="picker">
          <mat-hint>YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
      <mat-form-field appearance="fill">
        <mat-label>Etat: </mat-label>
        <input matInput formControlName="etat" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Categorie: </mat-label>
        <input matInput formControlName="description" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Image: </mat-label>
        <input matInput formControlName="description" required>
      </mat-form-field>
      <!-- <mat-error *ngIf="pwd.invalid && pwd.touched" class="alert alert-danger">
          Le mot de passe est obligatoire !
      </mat-error> -->
    <button type="submit" class="btn btn-outline-primary" [disabled]="modifForm.invalid" >
    Enregistrer
    </button>
</form>